# OCI auto-loop environment for AutoGPT
# Fill/adjust values, then run:
#   set -a; source classic/.oci_auto.env; set +a
#   bash classic/scripts/autogpt_oci_self_loop.sh

OCI_USER_OCID='ocid1.user.oc1..aaaaaaaa6wag62wujh3qh2nho7mlc4urwbnjuq22dbyer4zh6nucrj4tlkea'
OCI_TENANCY_OCID='ocid1.tenancy.oc1..aaaaaaaa4xl4qa7doifixfm5gls23i6lnqtseygnmvmu5gwrg4lbmyltrucq'
OCI_FINGERPRINT='81:2d:42:60:e9:ab:5c:ea:a5:ad:be:62:0c:e3:15:a8'
OCI_REGION='eu-milan-1'

# One of the following must be provided:
# OCI_KEY_FILE='/home/codespace/.oci/oci_api_key.pem'
# OCI_PRIVATE_KEY_CONTENT='-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----'
# OCI_PRIVATE_KEY_B64='BASE64_ENCODED_PRIVATE_KEY'

OCI_SSH_PUBLIC_KEY_FILE='/home/codespace/.ssh/id_ed25519.pub'

# Optional overrides
# OCI_COMPARTMENT_ID='ocid1.compartment.oc1..example'
# OCI_SUBNET_ID='ocid1.subnet.oc1.eu-milan-1.example'
# OCI_IMAGE_ID='ocid1.image.oc1.eu-milan-1.example'
# OCI_OCPUS_CANDIDATES='4 3 2 1'
# OCI_MEMORY_GB='24'
# OCI_RETRY_DELAY_SECONDS='20'
# OCI_MAX_ATTEMPTS='0'
# REMOTE_SSH_USER='ubuntu'
